/* .section {
display: flex;
flex-direction: column;
width: 1920px;
align-items: center;
position: relative;
background-color: #f7f7fc;
}
.section .header {
display: flex;
width: 550px;
align-items: center;
position: relative;
flex: 0 0 auto;
background-color: transparent;
}
.section .description {
flex-direction: column;
flex: 1;
flex-grow: 1;
display: flex;
align-items: flex-start;
position: relative;
}
.section .logo {
position: relative;
align-self: stretch;
width: 100%;
flex: 0 0 auto;
}
.section .div-wrapper {
gap: 10px;
padding: 0px 0px 16px;
align-self: stretch;
width: 100%;
flex: 0 0 auto;
display: flex;
align-items: flex-start;
position: relative;
}
.section .text-wrapper {
position: relative;
flex: 1;
margin-top: -1px;
font-family: "Poppins-Bold", Helvetica;
font-weight: 700;
color: #0576f0;
font-size: 24px;
letter-spacing: 0.75px;
line-height: 32px;
}
.section .div {
position: relative;
flex: 1;
margin-top: -1px;
font-family: "Poppins-Bold", Helvetica;
font-weight: 700;
color: #14142b;
font-size: 20px;
letter-spacing: 0.5px;
line-height: 26px;
}
.section .hero-image {
display: inline-flex;
align-items: center;
justify-content: center;
padding: 16px 0px;
position: relative;
align-self: stretch;
flex: 0 0 auto;
}
.section .img {
position: relative;
align-self: stretch;
width: 110px;
object-fit: cover;
}
.section .intro-section {
display: flex;
flex-direction: column;
width: 550px;
align-items: flex-start;
gap: 16px;
padding: 16px 0px 24px;
position: relative;
flex: 0 0 auto;
}
.section .p {
position: relative;
width: 550px;
margin-top: -1px;
font-family: "Poppins-Regular", Helvetica;
font-weight: 400;
color: #4e4b66;
font-size: 14px;
letter-spacing: 0.25px;
line-height: 22px;
}
.section .text-wrapper-2 {
position: relative;
width: 550px;
font-family: "Poppins-Regular", Helvetica;
font-weight: 400;
color: #4e4b66;
font-size: 14px;
letter-spacing: 0.25px;
line-height: 22px;
}
.section .text-wrapper-3 {
position: relative;
width: 550px;
font-family: "Poppins-Italic", Helvetica;
font-weight: 400;
font-style: italic;
color: #0576f0;
font-size: 14px;
letter-spacing: 0.25px;
line-height: 22px;
}
 */